
<section id='create'>
    <article>
        <input type='text' placeholder='何を' id='noun-input'/>
        <button id='noun-button'>ランダム</button>
    </article>
    <article>
        <input type='text' placeholder='どうする？' id='verb-input'/>
        <button id='verb-button'>ランダム</button>
    </arcticle>
</section>