<form actoin='/createPost' method='post' id='create-post'>
    <input type='text' name='title' placeholder='タイトル' value='<%=@noun_name%>を<%=@verb_name%>' id='title'/>
    <input type="text" name='category' placeholder='カテゴリ' id='category'>
    <textarea  name='context' placeholder='概要' id='overview'/></textarea>
    <textarea  name='question' placeholder='解決する問題' id='solution'></textarea>
    <label id='open'>
        <span id='is_open_text'>非公開</span>
        <input type='checkbox' name='is_open' id='is_open_input'>
        <div id='checkbox-body' class='checkbox-body'>
            <div id='checkbox-button' class='checkbox-button'></div>
        </div>
    </label>
    <input type='submit' value='保存' class='submit_button'>
</form>

<div id='auto-box'>
    <p>自動生成しますか？</p>
    <button id='yes-auto'>はい</button>
    <button id='no-auto'>いいえ</button>
</div>

<div id='loading'>
    <p>生成中...</p>
</div>

<script>
    const title = $("#title").val()
    const body = {title:title}
    
    const autoSet=(autoValues)=>{
        // $('category').val()
        if(autoValues === "error"){
            $("#loading").css("display","none")
            return;
        }
        
        console.log(autoValues)
        const {overview,solution} = autoValues
        
        $("#overview").val(overview)
        $("#solution").val(solution)
        $("#loading").css("display","none")
    }
    
    $('#is_open_input').on('change',()=>{
        const is_checked = $('#is_open_input').prop("checked")
        if(is_checked){
            $('#checkbox-button').animate({
                "left":"20px"
            }, 100)
            $('#checkbox-body').css({"background":"#330066"})
        }else{
            $('#checkbox-button').animate({
                "left":"0"
            }, 100)
            $('#checkbox-body').css({"background":"#e6e6e6"})
        }
    })
    $('#no-auto').on("click",()=>{
        $("#auto-box").hide()
    })
    
    $('#yes-auto').on("click",()=>{
        $("#loading").css("display","flex")
        $("#auto-box").hide()
        requestGPT('/autoPost',body,autoSet)
        // autoSet({overview:"aaa",solution:"dd"})
    })
</script>