<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>IdeaMix</title>
		<link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/header.css">
		<link rel="stylesheet" href="/assets/css/common.css">
		<link rel="stylesheet" href="/assets/css/createIdea.css">
		<link rel="stylesheet" href="/assets/css/createPost.css">
		<link rel="stylesheet" href="/assets/css/index.css">
		<link rel="stylesheet" href="/assets/css/signup.css">
		<link rel="stylesheet" href="/assets/css/post.css">
		<link rel="stylesheet" href="/assets/css/profile.css">
		<link rel="icon" href="/assets/img/favicon.ico">
		<!--<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">-->
		<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
		<script src='/assets/js/util.js'></script>
	</head>
	<body>
		<% unless request.fullpath === "/signup" ||  request.fullpath ===  "/signin" %>
			<header>
				<nav class="center-horizontal">
					<a id='logo' href='/'>
						<img src="/assets/img/logo.png" alt="logo_image"/>
					</a>
					<label>
						<img src='/assets/img/search_icon.png' alt='search icon' id='search_icon'>
						<input type='text' placeholder='検索' />
					</label>
					<% if session[:user] %>
						<% if session[:user][:img] %>
							<a href='/profile?tab=post' id='user_icon'>
								<img src="<%=session[:user][:img]%>" alt="user_icon" />
							</a>
						<% else %>
							<a href='/profile?tab=post' id='user_icon'>
								<img src="/assets/img/default.svg" alt="user_icon"/>
							</a>
						<% end %>
					<% else %>
						<a href='/signin' id='user_icon'>
							<img src="/assets/img/default.svg" alt="user_icon" />
						</a>
					<% end %>
					<a href='/createIdea' id ='header_post'>投稿する</a>
				</nav>
			</header>
		<% end %>

		<main>
			<%= yield %>
		</main>
	</body>
</html>